<% include include/header.ejs %>

<div class="content">
	<div class="content-header">
		<div class="page-title">
			<h3>Users</h3>
		</div>
		<div class="page-breadcumb">
			
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#">Home</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Users</li>
			  </ol>
			</nav>
		</div>
	</div>			
	<div class="content-body">
		
		<section  class="chart">
			<div class="panel">
				<div class="panel-header d-flex align-items-center justify-content-between">
						<div class="panel-title">
							<i class="fa fa-book"></i> 	   Users
						</div>
						<div>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-plus"></i></button>
						</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">

						</div>
						<div class="col-md-6">
							<div class="form">
								
							</div>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Nama</th>
									<th>Username</th>
									<th>Password</th>
									<th>Level</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<% data.forEach( function(users) { %>
								<tr>
									<td><%= users.id %></td>
									<td><%= users.nama %></td>
									<td><%= users.username %></td>
									<td><%= users.password %></td>
									<td><%= users.level %></td>
									<td>
										<a href="users/edit/<%= users.id %>">
											<i class="fa fa-edit"></i>
										</a>
										<a href="users/delete/<%= users.id %>">
											<i class="fa fa-trash"></i>
										</a>
									</td>
									
								</tr>
								<% 	}) %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>			
</div>

<div class="modal fade tambah-exam" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Add new Distributor</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			        <form method="POST" action="/users/add">
			        	
				      <div class="modal-body">
				          <div class="form-group">
				            <label for="recipient-name" class="col-form-label">Nama:</label>
				            <input type="text" name="nama" class="form-control" id="recipient-name">
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="col-form-label">Username:</label>
				            <input type="text" name="username" class="form-control" id="recipient-name">
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="col-form-label">Password:</label>
				            <input type="password" name="password" class="form-control" id="recipient-name">
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="col-form-label">Level:</label>
				            <select class="form-control" name="level">
				            	<option value="">Pilih level</option>
				            	<option value="operator">Operator</option>
				            	<option value="distributor">Distributor</option>
				            	<option value="admin">Admin</option>
				            </select>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="col-form-label">Foto:</label>
				            <input type="file" name="foto" class="form-upload" id="recipient-name">
				          </div>

				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button type="submit" class="btn btn-primary">Tambah</button>
				      </div>
			       </form>
			    </div>
			  </div>
			</div>

<% include include/footer.ejs %>